<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" [routerLink]="[]" fragment="home">Home</a>
    <a class="link link-hover" [routerLink]="[]" fragment="about">About</a>
    <a class="link link-hover" [routerLink]="[]" fragment="skills">Skills</a>
    <a class="link link-hover" [routerLink]="[]" fragment="projects">Projects</a>
    <a class="link link-hover" [routerLink]="[]" fragment="contact">Contact</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/elianbarrios" class="transition-all hover:text-info">
        <ng-icon [name]="iconService.getById('github')?.iconName" class="text-3xl"></ng-icon>
      </a>

      <a href="https://x.com/elianbarrios_" class="transition-all hover:text-info">
        <ng-icon [name]="iconService.getById('x')?.iconName" class="text-3xl"></ng-icon>
      </a>

      <a href="https://www.linkedin.com/in/elian-barrios/" class="transition-all hover:text-info">
        <ng-icon [name]="iconService.getById('linkedin')?.iconName" class="text-3xl"></ng-icon>
      </a>

      <a href="mailto:elianbarrios1707@outlook.com" class="transition-all hover:text-info">
        <ng-icon [name]="iconService.getById('email')?.iconName" class="text-4xl"></ng-icon>
      </a>
    </div>
  </nav>
  <aside>
    <p>Copyright © {{ year() }} - All right reserved by Elián Barrios</p>
  </aside>
</footer>
