<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" [routerLink]="[]" fragment="home">Home</a>
    <a class="link link-hover" [routerLink]="[]" fragment="about">About</a>
    <a class="link link-hover" [routerLink]="[]" fragment="skills">Skills</a>
    <a class="link link-hover" [routerLink]="[]" fragment="projects">Projects</a>
    <a class="link link-hover" [routerLink]="[]" fragment="contact">Contact</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/Elian1723" class="transition-all hover:text-info">
        <iconify-icon class="text-3xl" [icon]="skillIconService.getById('github')?.iconName"></iconify-icon>
      </a>

      <a href="https://x.com/elian_santizo" class="transition-all hover:text-info">
        <iconify-icon class="text-3xl" [icon]="skillIconService.getById('x')?.iconName"></iconify-icon>
      </a>

      <a href="https://www.linkedin.com/in/elian-barrios/" class="transition-all hover:text-info">
        <iconify-icon class="text-3xl" [icon]="skillIconService.getById('linkedin')?.iconName"></iconify-icon>
      </a>

      <a href="mailto:elianbarrios1707@outlook.com" class="transition-all hover:text-info">
        <iconify-icon class="text-4xl" [icon]="skillIconService.getById('email')?.iconName"></iconify-icon>
      </a>
    </div>
  </nav>
  <aside>
    <p>Copyright © {{ year() }} - All right reserved by Elián Barrios</p>
  </aside>
</footer>
