<h1 class="text-4xl font-bold ">Hello<span class="text-info">.</span></h1>

<div class="flex items-center -ms-4 sm:-ms-15">
  <div class="divider divider-info w-10 sm:w-20"></div>
  <h2 class="ms-3 text-3xl font-normal">I'm Elián</h2>
</div>

<div class="block">
  <span class="text-rotate text-4xl font-bold duration-8500 leading-loose">
    <span class="justify-items-start">
      <span>Software Engineer</span>
      <span>FullStack Developer</span>
    </span>
  </span>
</div>

<div class="mt-10 flex gap-5">
  <button class="btn btn-info">Got a project?</button>
  <button class="btn btn-outline btn-info">My resume</button>
</div>
