<h1 class="text-4xl font-bold ">Hello<span class="text-info">.</span></h1>

<div class="flex items-center -ms-4 sm:-ms-15">
  <div class="divider divider-info w-10 sm:w-20"></div>
  <h2 class="ms-3 text-3xl font-normal">I'm Elián</h2>
</div>

<div class="block">
  <span class="text-4xl font-bold">
    <om-typewriter
          [words]="['Software Engineer', 'FullStack Developer']"
      ></om-typewriter>
  </span>

  <!-- <span class="text-rotate text-4xl font-bold duration-8000 leading-loose">
    <span class="justify-items-start">
      <span>Software Engineer</span>
      <span>FullStack Developer</span>
    </span>
  </span> -->
</div>

<div class="mt-2 flex gap-2 flex-wrap">
  <a href="https://github.com/Elian1723"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <iconify-icon class="text-xl" [icon]="skillIconService.getById('github')?.iconName"></iconify-icon>
    Elian1723
  </a>

  <a href="https://www.linkedin.com/in/elian-barrios/"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <iconify-icon class="text-xl" [icon]="skillIconService.getById('linkedin')?.iconName"></iconify-icon>
    elian-barrios
  </a>

  <a href="https://x.com/elian_santizo"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <iconify-icon class="text-xl" [icon]="skillIconService.getById('x')?.iconName"></iconify-icon>
    @elian_santizo
  </a>

  <a href="mailto:elianbarrios1707@outlook.com"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <iconify-icon class="text-2xl" [icon]="skillIconService.getById('email')?.iconName"></iconify-icon>
    elianbarrios1707@outlook.com
  </a>
</div>
