<div class="hero flex-1">
  <div class="hero-content flex-col w-full h-full justify-start min-w-full px-0 pb-0 pt-10">
    <div class="flex-1 flex items-center w-full justify-start">
      <div class="flex-auto lg:flex-1 ps-3 sm:ps-15 pe-4">
        <app-greeting />
      </div>

      <div class="hidden lg:block lg:flex-1 h-full me-7">
        <app-profile-circle />
      </div>
    </div>

    <div class="w-full relative">
      <app-octocat class="absolute bottom-15 ms-5" />

      <app-carousel class="w-full shrink-0" />
    </div>
  </div>
</div>
