<div class="hero flex-1">
  <div class="hero-content flex-col w-full h-full justify-start min-w-full px-0 pb-0">
    <div class="flex flex-1 items-center gap-5 w-full justify-start">
      <div class="flex-auto ps-3 lg:flex-1 sm:ps-15 pe-4">
        <app-greeting />
      </div>

      <aside class="hidden lg:block lg:flex-1 h-full me-0 xl:me-24">
        <div class="w-full h-full flex items-center justify-end">
          <om-orb class="h-full w-full">
            <div class="size-11/12 xl:size-5/6">
            </div>
          </om-orb>
        </div>
      </aside>
    </div>

    <div class="w-full bg-neutral py-1">
      <om-marquee [animationDuration]="'80s'" [marqueeGap]="'6rem'" [pauseOnHover]="false">
        @for (icon of skillIconService.getAllSkills(); track $index) {
        <ng-template [omMarqueeItem]="icon">
          <ng-icon [name]="icon.iconName" class="text-4xl block size-10"></ng-icon>
        </ng-template>
        }
      </om-marquee>
    </div>
  </div>
</div>
