<div>
  <div class="flex items-center -ms-4 sm:-ms-15">
    <div class="divider divider-info w-10 sm:w-44"></div>
    <h2 class="ms-3 text-3xl font-bold">Skills</h2>
  </div>

  <div role="tablist" class="tabs tabs-border justify-center px-4 sm:px-16">
    @for (tab of tabs(); track tab) {
    <a role="tab" class="tab text-base transition-all md:text-lg" [class.tab-active]="currentTab() === tab"
      [class.text-info]="currentTab() === tab" (click)="changeCurrentTab(tab)">
      {{ tab | titlecase }}
    </a>
    }
  </div>

  <div class="w-full flex justify-center pt-7">
    <div class="flex flex-wrap w-full md:w-3/4 lg:w-1/2 justify-center gap-10">
      @for (icon of currentIcons(); track icon.iconName) {
      <iconify-icon class="text-4xl block size-10" [attr.icon]="icon.iconName"></iconify-icon>
      }
    </div>
  </div>
</div>
